h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 2em;
}

.container {
  max-width: 40rem;
  margin: 2rem auto;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 3rem 5rem 0;
  border-radius: 1px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: box-shadow 0.28s ease, -webkit-transform 0.28s ease;
  transition: box-shadow 0.28s ease, -webkit-transform 0.28s ease;
  transition: box-shadow 0.28s ease, transform 0.28s ease;
  transition: box-shadow 0.28s ease, transform 0.28s ease,
    -webkit-transform 0.28s ease;
}

.form-inline > .formGroup,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.formGroup input {
  height: 1.9rem;
}
.formGroup .inputLabel {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}

.inputLabelWithPlaceholder {
  font-size: 0.8rem !important;
  top: -1rem !important;
  left: 0 !important;
}

.formGroup .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}

.formGroup .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #b73394;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}

.formGroup .barError {
  border-bottom: 0.0625rem solid #f11313 !important;
}
.formGroup .barError::before {
  background-color: #f11313 !important;
}

.formGroup input {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.formGroup input:focus,
.formGroup input:valid,
.formGroup input.form-file,
.formGroup input.has-value {
  color: #333;
}
.formGroup input:focus ~ .inputLabel,
.formGroup input:valid ~ .inputLabel,
.formGroup input.form-file ~ .inputLabel,
.formGroup input.has-value ~ .inputLabel {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}
.formGroup input:focus {
  outline: none;
}

.formGroup input:focus ~ .inputLabel {
  color: #b73394;
}

.inputErrorMessage {
  font-size: 11px;
  color: #f11313;
}

.formGroup .inputLabelError,
.formGroup input:focus ~ .inputLabelError {
  color: #f11313 !important;
}

.formGroup input:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

.formGroup {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.buttonContainer {
  text-align: center;
}

.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  color: #b73394;
  margin: 3rem 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease,
    box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease,
    box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.button span {
  color: #fff;
  position: relative;
  z-index: 1;
}
.button::before {
  content: '';
  position: absolute;
  background: #071017;
  border: 50vh solid #1d4567;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}
.button:hover {
  color: #b73394;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.button:focus {
  outline: none;
}

/* MODAL START */
.contentWrapper {
  padding: 20px;
  text-align: center;
  visibility: visible;
  opacity: 0;
}

.contentOpen {
  visibility: visible;
  opacity: 1;
}

.close {
  z-index: 4000;
  font-size: 35px;
  color: #fff;
  float: right;
  transition: opacity 0.3s;
  cursor: pointer;
}

.close:hover {
  animation: pulse 0.3s 2;
}

.modalContent {
  font-size: 20px;
}

.Modal {
  position: absolute;
  display: none;
  outline: transparent;
}
.Overlay {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3000;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* MODAL END */

/* Mobile version CSS */
@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 10px;
  }

  .contentWrapper {
    padding: 0px;
    width: 100vw;
  }

  .modalContent {
    margin-top: 50px;
  }

  .close {
    margin-right: 10px;
  }
}
